body{
    padding: 10px;
    margin: auto;
    background-image: url(https://img.freepik.com/free-vector/blue-sky-with-shiny-clouds-background_1017-23279.jpg?w=360);
    background-size: cover;
    cursor: pointer;
    width: 80%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}
#city{
    padding: 10px;
    width: 40%;
    /* margin: 20px 0px 20px 40px; */
}

#main_con{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 40px;
    padding: 20px;
    height: 400px;
}
#container{
    width: 40%;
    font-size: 25px;
}
#search{
    padding: 10px 20px;
    margin-left: -10px;
    background-color: grey;
    color: white; 
    border: 0;
    border-radius: 10%;
    font-size: 17px;
}
#search:hover{
    background-color: silver;
}
#name{
    font-size: 50px;
    font-weight: bold;
}
#temp{
    font-size: 40px;
    text-align: center;
}
#feel{
    font-size: 25px;
    font-weight: bold;
}
#daily{
    padding: 10px 20px;
    margin-left: 50px;
    background-color: grey;
    color: white;
}
#daily:hover{
    background-color: silver;
}
#weekly{
    display: flex;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    position: absolute;
    top: 80px;
    right: 50px;
    visibility: hidden;
}
#weekly>div{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

#weekly>#close{
    position: absolute;
    right: -5px;
    top: -5px;
    border: 0;
}